<!-- Bottom Nav -->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark"  >
      <h6 class="display-10 navbar-text">&copy; Copyright 2021. All Rights reserved.</h6><br/>
      <h6 class="display-10 navbar-text">Nguyen Ha Phuong - Jennifer (301147401) - Centennial College</h6><br/>
      <h6 class="display-10 navbar-text">My email: <a href="mailto:jennifernguyen934@gmail.com">jennifernguyen934@gmail.com</h6>
    </nav>

  </footer>
