<style>
    main
    {font-family: "Raleway", sans-serif; 
    font-size: 20px;
    background-color: #e6f2ff;
    }

</style>

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  
<main class="container">
    
        <div class="row ">
            <div class="col" style="margin-top: 50px; margin-right: 50px; color: #1a1aff; text-align: center;">
               
                <p><b>Nguyen Ha Phuong - Jennifer</b></p>
                <p><b>Diploma in Software Engineering</b></p>
                <p><b>Centennial College</b></p>
                
                <img src="/images/AboutMe.jpg" class="img-fluid" alt="Myphoto" width="800" height="1050">

               
            </div>

            <div class="col" style="margin-top: 50px ;">
                <h1 class="center" style="color:#1a1aff; text-align: center;"><b>About Me</b></h1>
                <p style="text-align: center;"><a href="/Assets/files/Resume_Nguyen Ha Phuong.pdf" target="_blank" type="application/pdf" ><i class="fa fa-paperclip"></i><b> My Resume</b></i></a></p><br/>
                <p class="justify"><i>I am interested in<b>   Web Development</b>   and <b>  Maths</b>. Learning Math develops critical thinking and problem-solving skills. Programming a website teaches me persistence problem-solving skills and how to think logically. I am self-motivated, organized and capable of working under pressure.
                    <br/> I have the ability to combine my knowledge with practical work experience. I gained practical experience during 5 months internship at<b> Republic Polytechnic</b> as an<b> E-learning Developer</b>. Moreover, I interned at <b> A*STAR Bioinformatics Institute</b> as a <b> Web developer</b>.
                </i></p>
                <p class="justify"><i> "Phuong is a diligent student who is able to complete the work assigned to her. She is able to learn new skills and knowledge on her own which is one of her strengths."</p>
                <p class="text-end"><b>Mr. Teo Tian Guan - My Internship Supervisor</b> </span></i> </p>
                <p class="justify"><i> "Ha Phuong is a diligent and conscientious student who is serious in whatever she does. She demonstrates responsibility for completing all assignments and submitting them on time. Her strengths and interest lie in <b>Mathematics</b> and <b>Programming</b>." </i><p>
                <p class="text-end"><b>  Mr. Andy Lee -  Programming Lecturer, Republic Polytechnic</b> </span> </i>
                    <br/><br/><br/></p>
            </div>
         </div>
    

</main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>