
<%- include partials/header.ejs %>
<style>
    main
    {font-family: "Raleway", sans-serif; 
    font-size: 20px;
    background-color: #e6f2ff;
    }

    h1 {font-family: "Raleway", sans-serif; }

</style>

<%- include partials/main_nav.ejs %>
<main class="container">
	<div class="row">
        <div class="col" style="margin-top: 50px;">
            
	
            <p><b>Required fields are marked with an asterisk * </b></p>
            <form method="get" action="confirm">
                <label for="myFName"> *First Name:  </label>
                <br/>
                <input type="text" id="myFName" name="myFName" required="required">
                <br/><br/>
                <label for="myLName"> *Last Name:  </label>
                <br/>
                <input type="text" id="myLName" name="myLName" required="required">
                <br/><br/>
                <label for="myEmail"> *E-mail:  </label>
                <br/>
                <input type="email" id="myEmail" name="myEmail" size="35" required="required">
                <br/><br/>
                <label for="myPhone"> Phone:  </label>
                <br/>
                <input type="tel" id="myPhone" name="myPhone" maxlength="12">
                <br/><br/>
                <label for="myComments"> *Message:  </label>
                <br/><br/>
                <textarea id="myComments" name="myComments" rows="7" cols="40" required="required">
                </textarea>
                <br/><br/>
                <input type="submit" value="Send" onclick="handleSubmit()">
                <br/><br/>
                
                
            </form>
        </div>
        <div class="col" style="margin-top: 50px;">
            <h1 style="text-align: center;">CONTACT ME!</h1>
            <p style="text-align: center">I'm available for freelance work.<br/>Drop me a message if you fancy a chat.</p>
            <p style="text-align: center">My email: <a href="mailto:jennifernguyen934@gmail.com">jennifernguyen934@gmail.com</a></p> <br/><br/>
            <img src="/images/contact.png" class="img-fluid" alt="contact" width="800" height="1050">
        </div>
        
    </div>
    <p style="font-size: 25px; text-align: center;"><i>Thank you so much!</i></p>
    <br/><br/>
  
</main>

  <%- include partials/bottom_nav.ejs %>  

<!--This script is to get the input information of users-->

<script>function handleSubmit () {
    const name = document.getElementById('myFName').value;
    const lastName = document.getElementById('myLName').value;
    const email = document.getElementById('myEmail').value;
    const phone = document.getElementById('myPhone').value;
    const message = document.getElementById('myComments').value;
    
    sessionStorage.setItem("NAME", name);
    sessionStorage.setItem("SURNAME", lastName);
    sessionStorage.setItem("EMAIL", email);
    sessionStorage.setItem("PHONE", phone);
    sessionStorage.setItem("MESSAGE", message);
    

    return;
}</script>
<%- include partials/footer.ejs %>