<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container" style="background-color: #e6f2ff;">
        <br/>
        <h2 style="color:blue;"><i class="fab fa-youtube"></i><b> My Videos (Internship)</b></h2>
    
    <div class="row">
    <p style="font-size: 17px;" > These videos were made during my Internship. They are used in E-learning courses.<br/>
    <b>Media Tools:</b> PowToon, powerpoint.</p><br/>
    <p>Please click on the title of each video to watch it.</p>
    
         <div class="col">
           <img class="img-fluid" src="images/Problem Trigger.png" alt="Norway" style="width:100%">
       
             <p><i class="fab fa-youtube"></i><a href="https://youtu.be/HtWWiqRxj3M" target="_blank" ><b>  Prolem Trigger</b></a></p>
             <p>The video is about the problem statement. The new staff need to meet IT man for consultation as there are a lot of
               malwares attacking staff's computers.</p>
         </div>
         <div class="col">
           <img class="img-fluid" src="images/Virus.png" alt="Norway" style="width:100%" >
           
             <p><i class="fab fa-youtube"></i><a href="https://youtu.be/f9F1cRF13bw" target="_blank" ><b> Virus</b></a></p>
             <p>The video is explaination of Virus.<br><br><br><br><br/></p>
           
         </div>
         <div class="col">
           <img class="img-fluid" src="images/Ransomware.png" alt="Norway" style="width:100%" >
             <p><i class="fab fa-youtube"></i><a href="https://youtu.be/H7LfdfFeyMU" target="_blank" ><b> Ransomware</b></a></p>
             <p>The video is explaination of Ransomware.<br><br><br><br></p>
         </div>
         <div class="col">
           <img class="img-fluid" src="images/RootKitt.png" alt="Norway" style="width:100%" >
             <p><i class="fab fa-youtube"></i><a href="https://youtu.be/6ttTE4_o43A" target="_blank"><b> RootKit</b></a></p>
             <p>The video is explaination of RootKit.<br><br><br><br><br> </p>
        </div>
         
         </div>
         <h2 style="color:blue;"><i class="fa fa-tasks"></i><b> Product Catalog Progrogram</b></h2>
         <p>In the semester 2, I created an application that loads and saves a catalog from a text file; it also allows users to create and add to a collection of information about new products; information can be filtered on screen.</p>
         <b>Programing language:</b> C#</p><br/>

         <div class="row">
                 <div class="col">
                   <img class="img-fluid" src="images/project1a.png" alt="Norway" style="width:100%">
                 </div>
                 <div class="col">
                   <img class="img-fluid" src="images/project1b.png" alt="Norway" style="width:100%" >
                   
                 </div>
                 <div class="col">
                   <img class="img-fluid" src="images/project1c.png" alt="Norway" style="width:100%" >
                 </div>
                
        </div>
        <br/>

        
         </div>
         <p></p>
         <br/><br/><br/>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  





