<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  <style>
      p {font-size: 20px;}
      main {
          background-color: #e6f2ff;
      }
  </style>

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
        <img src="/images/service.jpeg" class="img-fluid" alt="Service" height="100px" width="1300"></img>
        <h1 style="text-align: center;">MY SERVICES</h1>
        <h3>Front-end developer</h3>
        <p>I can design and create website, I have experiences in creating website with html, css, javasScript, C# using .NET framework<br/></p>

        <h3>Create Content and Videos</h3>
        <p>I am able to create the content for videos based on request of clients. Moreover, I can use several media tools to create videos. </p>

        <h3>E-learning Developer</h3>
        <p>I have ability to create educational materials supporting teaching and e-learning courses such as videos, powerpoint game. Besides, i can design and creat the templates for e-lesson plans</p>
    </div>
    <br/>
    <h5 style="color: blue;"><i class="fa fa-tasks"></i> Here are some projects i did during my internship</h5>
    <b>Media Tools:</b> Adobe Captivate, iSpring.</p>
    
    <div class="row"> 
            
              <div class="col">
             <p><span style="color: green;"><b>Module: C235 - IT Security and Management</b></span> <br/>
               Type of Malware<br/>
               <i class="fab fa-dropbox"></i> Dropbox Link:<br/>
               <a href="https://www.dropbox.com/s/m01fogl8r8k4v0v/C235%20Type%20of%20Malware.pptx?dl=0" target="_blank" style="color:blue;"> Type of Malware.pptx</a></br></br></p>
             
           </div>
       
            
               <div class="col">
              <p><span style="color: green;"><b>Module: C235 - IT Security and Management</b></span><br/>
                 Malware Protection and Prevention<br/>
                   <i class="fab fa-dropbox"></i> Dropbox Link:<br/>
                   <a href="https://www.dropbox.com/s/2s2zx5wsf81vuux/C235%20Malware%20Protection%20and%20Prevention.pptx?dl=0" target="_blank"  style="color:blue;"> Malware Protection and Prevention.pptx</a></p>
                 
               </div>
       
               <div class="col">
       
                     <div class="col ">
                       
                       <p><span style="color: green;"><b>Tranning</b></span><br/>
                       In this section, learners will be trainned how to use debug mode.<br/>
                         <i class="fab fa-dropbox"></i> Dropbox Link:<br/>
                         <a href="https://www.dropbox.com/s/9u0dnp9tyd21s11/C105_training.cptx?dl=0" target="_blank" class="w3-hover-text-blue" style="color:blue;"> Tranning.cptx</a></p>
                         <p><i class="fab fa-youtube"></i> Youtube Link:<a href="https://youtu.be/9CkmaNpMTjg" target="_blank" style="color:blue;"><b> C105_Tranning </b></a> <br/>
                         This video demonstrates how this "Tranning.cptx" works. Users will follow every step that a character guided.<br/><br/></p>
                     
                   </div>                  
            
    </div>
    <p style="margin-bottom: 50px;"></p>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  





